<!--<p>dashboard works!</p>-->
<!--{{ items$ | async | json }}-->

<table mat-table matSort [dataSource]="(items$ | async) ?? []">

  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let item"> {{ item.name }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let item"> {{ item.price }}</td>
  </ng-container>

  <ng-container matColumnDef="supermarket">
    <th mat-header-cell *matHeaderCellDef> Supermarket</th>
    <td mat-cell *matCellDef="let item"> {{ item.supermarket }}</td>
  </ng-container>

  <ng-container matColumnDef=notes>
    <th mat-header-cell *matHeaderCellDef> Notes</th>
    <td mat-cell *matCellDef="let item"> {{ item.notes }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
  <tr mat-row *matRowDef="let item; columns: displayedColumn"></tr>

</table>
<mat-paginator
  [pageSizeOptions]="[10, 20, 50]"
  (page)="handlePageEvent($event)"
  showFirstLastButtons
  aria-label="Select from items per products">
</mat-paginator>
